	    /*去除网页默认属性*/
		*{
            margin: 0px;
            padding: 0px;
        }
        body{
            user-select: none;
        }

        /*消除列表的默认样式*/
        ul{
        list-style: none;
        padding: 0;
        margin: 0;
       }

        /*划分区域一*/
        .sign-up{
        	width: 1920px;
        	height: 1186px;
        	
            margin:0 auto;
        }
        .sign-up .head{
        	width: 1920px;
        	height: 84px;
        	background-color: rgb(255,255,255);
            border-bottom: 2px solid #c3c3c3;
        }
        .sign-up .head .left{
        	width: 1100px;
        	height: 84px;
        	float: left;
        }
        .sign-up .head .left .logo-1{
        	width: 236px;
        	height: 84px;
        	line-height: 84px;
        	
        	float: left;
        	margin-left: 360px;
        	color: black;
        	font-size: 28px;
        	cursor: pointer;
        }
        .sign-up .head .left .logo-2{
        	width: 450px;
        	height: 84px;
        	float: left;
        }
        .sign-up .head .left .logo-2 ul li{
        	height: 84px;
        	line-height: 84px;
        	text-align: center;
        	margin-left: 44px;
            color: black;
            cursor: pointer;/*提示可点击*/
            float: left;/*让列表横向排列*/
            font-size: 17px;
        }
        .sign-up .head .right{
        	width: 240px;
        	height: 84px;
        	margin-left: 225px;
        	float: left;
        	cursor: pointer;/*提示可点击*/
        }
        .sign-up .head .right .quote{
        	width: 110px;
            height: 34px;
            margin-top: 25px;
            color: white;
            border-radius:10px;
            background-color: rgb(255,134,39);
            line-height: 34px;
            font-size: 15px;
            text-align: center;
            float: left;
        }
        .sign-up .head .right .phone{
        	width: 85px;
        	height: 34px;
        	margin-top: 25px;
        	margin-left: 10px;
        	text-align: 17px;
        	color: black;
        	float: left;
        	font-size: 17px;
        }
        .sign-up .head .right .photo{
        	width: 15px;
        	height: 10px;
        	margin-left: 10px;
        	margin-top: 45px;
        	float: left;
        }
        .sign-up .middle{
            width: 1920px;
            height: 1102px;
            background: url("../images/homework-1-02_0004s_0001_bg2.png");
            position: absolute;
        }
        .sign-up .middle .text-1{
            width: 547px;
            height: 47px;
            margin-left: 682px;
            margin-top: 76px;
            font-size: 60px;
            line-height: 47px;
            text-align: center;
            color: white;
            position: relative;
        }
        .sign-up .middle .text-2{
            width: 1197px;
            height: 53px;
            margin-left: 363px;
            margin-top: 24px;
            font-size: 63px;
            line-height: 46px;
            text-align: center;
            color: white;
        }
        .sign-up .middle .text-3{
            width: 956px;
            height: 22px;
            margin-left: 482px;
            margin-top: 26px;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: white;
        }
        .sign-up .middle .left{
            width: 340px;
            height: 434px;
            margin-left: 437px;
            margin-top: 59px;
            font-size: 12px;
            line-height: 13px;
            text-align: center;
            float: left;
        }
        .sign-up .middle .right{
            width: 585px;
            height: 533px;
            margin-left: 117px;
            margin-top: 92px;
            float: left;
        }
        .sign-up .middle .right .head{
            width: 585px;
            height: 217px;
            background-color: rgb(240,97,80);
        }
        .sign-up .middle .right .head ul li{
            width: 291px;
            height: 72px;
            margin-left: 1px;
            font-size: 18px;
            float: left;
            background-color: rgb(240,97,80);

        }
        .sign-up .middle .right .head ul li input{
            width: 270px;
            height: 35px;
        }
        .sign-up .middle .right .message{
            width: 585px;
            height: 250px;
            font-size: 18px;
            color: white;
            background-color: rgb(240,97,80);
        }
        .sign-up .middle .right .message input{
            width: 565px;
            height: 214px;
        }
        .sign-up .middle .right .foot{
            width: 220px;
            height: 75px;
            margin-left: 181px;
            margin-top: 7px;
            font-size: 25px;
            line-height: 75px;
            text-align: center;
            border: 2px solid white;
            cursor: pointer;/*提示可点击*/
            color: white;
            border-radius:25px;
        }